---
import DraggableWindow from '../components/DraggableWindow.tsx';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <DraggableWindow title="Draggable Window" client:load>
    <p>This is a draggable window.</p>
  </DraggableWindow>
</Layout>
